<title>Consultant</title>
<!DOCTYPE html> 
<html lang="en">                                        
     
  <head>  
    <title>Home</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
  
  </head>

  <body>

    <h1>Testing</h1>
    {% comment %} <script src="{% static 'app/js/popper.js' %}"></script> {% endcomment %}
  </body>
  </html>
